/* Reset some default styles */
body, h2 {
    margin: 0;
    padding: 0;
    font-style: bold;
}

/* Styles for the container */
.container {
    width: 50%;
    margin: 50px auto;
    font-weight: bold;
}

/* Styles for form group */
.form-group {
    margin-bottom: 50px;
    font-weight: bold;
    /* width:50px; */
}

.form-text{
    margin-bottom:20px;
 
}



/* Important asterisk */
.important {
    color: red;
}

/* Styles for name inputs */
.name-inputs {
    display: flex;
}

.name-inputs input {
    flex: 1;
    margin-right: 10px;
}

/* Styles for rating stars */
.rating {
    color: #ffcc00;
    display: flex;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: 
    url('https://pluspng.com/img-png/yellow-stars-png-hd-hd-quality-wallpaper-collection-pattern-2000x2000-star-2000.png'); /* Replace with your star image */
    background-size: cover;
}

/* Styles for text area */
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

/* Styles for satisfaction inputs */
.satisfaction {
    margin-top: 10px;
}

.satisfaction label {
    margin-right: 10px;
}

.satisfaction input[type="radio"] {
    margin-right: 5px;
}

/* Styles for submit button */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"] {
    background-color: grey;
    width:100px;
    height:50px;
}

/* Styles for table */
.satisfaction-table {
    width: 100%;
    border-collapse: collapse;
}

.satisfaction-table td {
    /* border: 1px solid #ccc; */
    padding: 10px;
    text-align: center;
    border: none;
}

/* Highlight grey rows */
.highlight-grey td {
    background-color: #f4f4f4;
}


h3{
    position: relative;
    top : -20px;
}

.suggestion-box{

    width:700px;
    height:200px;
    border:1px solid black;
    display :block;
    position:relative;
    left :-10px;
    right:50px;
    top:-10px;
    border-radius:10px;

}